<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio 2022</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>

</head>
<body class="">
    <header class="">
         <a href="#"><h3>freelance portfolio</h3></a>
        <button>
            menu <i class="fa-solid fa-bars"></i>
        </button>
        <nav class="">
            <ul>
                <li>
                    <a href="#portfolio">portfolio</a>
                    <hr>
                </li>
                <li>
                    <a href="#about">about</a>
                    <hr>
                </li>
                <li>
                    <a href="#contact">contact</a>
                    <hr>
                </li>
            </ul>
        </nav>
     
    </header>
    <main class="">
        <section class="">
            <figure>
                <img src="/img/profile.png" alt="">
            </figure>
            <h1>freelance <span>portfolio</span></h1>
            <div class="">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>                
                <hr>
            </div>
                <p>Web Developer - Graphic Artist - User Experience Designer</p>
        </section>
        <section class="">
            <h2>portfolio</h2>
            <div class="">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <div class="">
                <figure>
                    <img src="/img/cabin.png" alt="">
                </figure>
                <figure>
                    <img src="/img/cake.png" alt="">
                </figure>
                <figure>
                    <img src="/img/circus.png" alt="">
                </figure>
                <figure>
                    <img src="/img/game.png" alt="">
                </figure>
                <figure>
                    <img src="/img/safe.png" alt="">
                </figure>
                <figure>
                    <img src="/img/submarine.png" alt="">
                </figure>
            </div>
         
        </section>
        <section class="">
            <h2>about</h2>
            <div class="">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <article>
                <p>Freelance is a free landing page theme created for free use. The download includes the complete source files including HTML, CSS, and JavaScript as weel as optional SASS stylesheets for easy customization</p>
                <p>Whether you're a student looking to showcase your work, a professional looking to attact clients, or a graphic artist looking to share your projects, this template is the perferct starting point!</p>
            </article>
           <a href=""><i class="">
        </section>
        <section class="">
            <h2>contact me</h2>
            <div class="">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <form action="">
                <div class="">
                    <label for="">Name</label>
                    <input class="">
                </div>
                <div class="">
                    <label for="">Email Address</label>
                    <input class="">
                </div>
                <div class="">
                    <label for="">Phone Number</label>
                    <input class="">
                </div>
                <div class="">
                    <label for="">Message</label>
                    <textarea class="">
                </div>
                <div class="">
                    <div class="">
                    <button>Send</button>
                </div>
            </form>
        </section>
    </main>
    <footer class="">
        <section class="">
            <article class="">
                <h3>location</h3>
                <p>2215 Jhon Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </article>
            <article class="">
                <h3>around the web</h3>
                <div class="">
                    <a href=""><i class="">
                    <a href=""><i class="">
                    <a href=""><i class="">
                    <a href=""><i class="">
                    <a href=""><i class="">
                </div>
            </article>
            <article class="">
                <h3>about freelancer</h3>
                <p>Freelance is free and open souce landing page theme created to <span>your free personal use</span>.</p>
            </article>
        </section>
        <section class="">
            <p >Copyright<i class="fa fa-copyright"></i> Your Website 2023</p>
        </section>
       
    </footer>
    <script src="/js/home.js"></script>
</body>
</html>